* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: Arial, sans-serif;
    color: #61dafb;
    position: relative;
    overflow: hidden;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7; /* Ajuste a opacidade do vídeo */
}

.container {
    text-align: center;
    z-index: 1;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.clock {
    font-size: 3em;
    font-weight: bold;
    background-color: rgba(32, 35, 42, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: #61dafb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #61dafb;
    font-size: 1em;
    z-index: 1;
}

footer a {
    color: #61dafb;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
